<template>
  <div class="plotter_container">
    <div class="dimensions_container">
      <h1>Welcome to Plotter APP</h1>
      
      <p>Shapes can be plotted as SVGs in 250px x 250px grid.</p>

      <h2>Instructions</h2>

      <p>
        <strong><small>Draw a Rectangle</small></strong><br>
        r <small>X Coordinate  Y Coordinate width height</small>. e.g <strong>r 75 75 100 100</strong>
      </p>
      <p>
        <strong><small>Draw a Circle</small></strong><br>
        c <small>CX Coordinate  CY Coordinate radius</small>. e.g <strong>c 125 125 20</strong>
      </p>
      <p>
        <strong><small>Draw a Polygon</small></strong><br>
        p <small>C1,Y1 X2,Y2 Xn,Yn</small>. e.g <strong>p 200,10 150,190 60,10</strong>
      </p>
      <p>
        <strong><small>Draw an Ellipse</small></strong><br>
        e <small>CX Coordinate  CY Coordinate RX Radius RY Radius</small>. e.g <strong>e 125 125 100 50</strong>
      </p>

      <hr>

      <p>
        <label for="plotter_input">
          <strong>
            Provide dimensions here
          </strong>
        </label>
      </p>
      <p>
        <textarea 
          id="plotter_input" 
          v-model="plotter_input" 
          rows="10" 
          v-on:change="plotter_input_changed" 
          class="noresize"
          placeholder="r 0 0 100 100"
        ></textarea>
        <small>
          <strong>Note: </strong><br>
          Height, width and radius must be greater than 0 and less than <strong>{{coordinates_threashold_limit}}</strong>.<br>
          Coordinates should be greater than equal to 0 and less than <strong>{{coordinates_threashold_limit}}</strong>. <br>
          Start and end spaces within each line will be trimed automatically.<br>
          An empty line command will cause an error.<br>
          A warning will be displayed if the shape is drawn outside the box.
        </small>
      </p>

      <p v-if="notice" class="notices">
        <small class="err" v-html="notice"></small>
      </p>
      
      
      <input class="button" type="button" value="Draw" v-on:click="plotter_input_changed" />
    </div>

    <div class="svg_container">
      <h1>Shapes</h1>
      <div class="svg_box_header">
        <small>SVG Container Size: 250px x 250px</small>
        <input 
          class="cross_btn" type="button" value="X" 
          v-if="(svgs.p.length || svgs.e.length || svgs.c.length || svgs.r.length) && plotter_input" 
          v-on:click="reset" 
        />
      </div>

      <svg :height="`${svg_w}px`" :width="`${svg_h}px`" class="sh_container">
        <polygon v-for="(svg, pindex) in svgs.p" v-bind:key="`p${pindex}`" :points="svg.points" :fill="svg.fill" />
        <rect v-for="(svg, rindex) in svgs.r" v-bind:key="`r${rindex}`" :width="svg.rw" :height="svg.rh" :x="svg.x" :y="svg.y" :fill="svg.fill" />
        <circle v-for="(svg, cindex) in svgs.c" v-bind:key="`c${cindex}`" :cx="svg.cx" :cy="svg.cy" :r="svg.r" :fill="svg.fill" />
        <ellipse v-for="(svg, eindex) in svgs.e" v-bind:key="`e${eindex}`" :cx="svg.cx" :cy="svg.cy" :rx="svg.rx" :ry="svg.ry" :fill="svg.fill" />
      </svg>

      <p v-if="warning">
        Shape(s) {{warning.substr(0, warning.length-1)}} may be drawn outside the box
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Plotter',
  data() {
    return {
      notice: '',
      warning: '',
      plotter_input: null,
      coordinates_threashold_limit: 1000,
      svg_w: 250,
      svg_h: 250,
      svgs: {
        r: [],
        c: [],
        p: [],
        e: [],
      },
    }
  },
  methods: {
    // user provide new shape command
    plotter_input_changed(){
      var self = this;
      self.notice = '';
      self.warning = '';
      if(!self.plotter_input){
        self.notice = 'Please provide a valid shape command';
        return;
      }

      this.svgs.r = [];
      this.svgs.c = [];
      this.svgs.p = [];
      this.svgs.e = [];
      var shapes = [];
      
      if (self.has_multiple_shapes()) {
        shapes = self.get_user_defined_shapes_arr();
      } else {
        shapes.push(self.plotter_input);
      }

      if(shapes.length>0){
        for(let i=0; i<shapes.length; i++){
          let shape = self.validate_shape_command(shapes[i], (i+1));
          if(shape){
            // self.draw_shape(shape);
          } else {
            self.notice += `Please provide valid shape command at line number ${i+1}.<br>`;
          }
        }
      }
    },

    // checking user provide multiple shapes or single shape
    has_multiple_shapes(){
      if (/\r|\n/.exec(this.plotter_input)) {
        return true;
      } else {
        return false;
      }
    },

    // getting user defined shapes arr
    get_user_defined_shapes_arr(){
       return this.plotter_input.split("\n");
    },

    // validating user provided shape command
    validate_shape_command(command, i){
      var self = this;
      if(!command){
        return false;
      }
      command = command.trim();

      let shape_type = command.charAt(0).toLowerCase();

      if(shape_type == 'r'){
        return self.validate_rectangle_shape_command(command, i);
      } else if (shape_type == 'c'){
        return self.validate_circle_shape_command(command, i);
      } else if (shape_type == 'p'){
        return self.validate_polygon_shape_command(command, i);
      } else if (shape_type == 'e'){
        return self.validate_ellipse_shape_command(command, i);
      } else {
        return false;
      }
    },

    // Validating Rectangle Shape command
    validate_rectangle_shape_command(command, index){
      if(/^r [0-9]\d{0,} [0-9]\d{0,} [0-9]\d{0,} [0-9]\d{0,}$/.test(command)){
        let s_comm = command.split(" ");
        let x = parseInt(s_comm[1]);
        let y = parseInt(s_comm[2]);
        let rw = parseInt(s_comm[3]);
        let rh = parseInt(s_comm[4]);

        if(rw <= 0 || rh <= 0){
          return false;
        }

        if(!this.validate_coordinate_value([x, y, rw, rh])){
          return false;
        }

        if(x+rw > this.svg_w || y+rh > this.svg_h){
          this.warning += `${index},`;
        }

        let shp = {
          shape: 'r',
          x: x,
          y: y,
          rw: rw,
          rh: rh,
          fill: this.get_random_color()
        };

        this.svgs.r.push(shp);
        return shp;
      } else {
        return false;
      }
    },

    // Validating circle Shape command
    validate_circle_shape_command(command, index){
      console.log(index);
      if(/^c [0-9]\d{0,} [0-9]\d{0,} [0-9]\d{0,}$/.test(command)){
        let s_comm = command.split(" ");
        let x = parseInt(s_comm[1]);
        let y = parseInt(s_comm[2]);
        let r = parseInt(s_comm[3]);

        if(r <= 0){
          return false;
        }

        if(!this.validate_coordinate_value([x, y, r])){
          return false;
        }

        if(
          x+r > this.svg_w || x-r < 0 ||
          y+r > this.svg_h || y-r < 0

        ){
          this.warning += `${index},`;
        }

        let shp = {
          shape: 'c',
          cx: x,
          cy: y,
          r: r,
          fill: this.get_random_color()
        };

        this.svgs.c.push(shp);
        return shp;
      } else {
        return false;
      }
    },

    // Validating ellipse Shape command
    validate_ellipse_shape_command(command, index){
      if(/^e [0-9]\d{0,} [0-9]\d{0,} [0-9]\d{0,} [0-9]\d{0,}$/.test(command)){
        let s_comm = command.split(" ");
        let x = parseInt(s_comm[1]);
        let y = parseInt(s_comm[2]);
        let rx = parseInt(s_comm[3]);
        let ry = parseInt(s_comm[4]);

        if(rx <= 0 || ry <= 0){
          return false;
        }

        if(!this.validate_coordinate_value([x, y, rx, ry])){
          return false;
        }

        if(
          x+rx > this.svg_w || x-rx < 0 ||
          y+ry > this.svg_h || y-ry < 0

        ){
          this.warning += `${index},`;
        }

        let shp = {
          shape: 'e',
          cx: x,
          cy: y,
          rx: rx,
          ry: ry,
          fill: this.get_random_color()
        };

        this.svgs.e.push(shp);
        return shp;
      } else {
        return false;
      }
    },

    // Validating Polygon Shape command
    validate_polygon_shape_command(command, index){
      if(/^p( [0-9]\d{0,},[0-9]\d{0,})+$/.test(command)){
        let s_comm = command.split(" ");

        for (let i = 1; i < s_comm.length; i++) {
          var split = s_comm[i].split(",");

          if(!this.validate_coordinate_value([split[0], split[1]])){
            return false;
          }

          if(split[0] > this.svg_w || split[1] > this.svg_h){
            this.warning += `${index},`;
            break;
          }
        }
        
        let shp = {
          shape: 'p',
          points: `${s_comm[1]} ${s_comm[2]} ${s_comm[3]}`,
          fill: this.get_random_color()
        };

        this.svgs.p.push(shp);
        return shp;
      } else {
        return false;
      }
    },

    // validating coordinates, width, height max values
    validate_coordinate_value(value_arr){
      // width and height are same, that`s why only validating from width
      var valid = true;
      for(let i=0; i<value_arr.length; i++){
        if(this.coordinates_threashold_limit <= parseInt(value_arr[i])){ // value must be less than equal to coordinates_threashold_limit
          valid = false;
          break;
        }
      }
      return valid;
    },

    reset(){
      if(confirm("Clear all shapes?")){
        this.svgs.p = this.svgs.r = this.svgs.c = this.svgs.e = [];
        this.plotter_input = '';
      }
    },

    // generating random colors for shape filling
    get_random_color() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }

      if(color == '#ffffff' || color == '#fff' ){
        return self.get_random_color();
      } else {
        return color;
      }
    }
  }
}
</script>

<style scoped>
  .dimensions_container{
    text-align: left;
    background: aliceblue;
    min-height: 90vh;

    float: left; 
    width: 30%;
    padding: 2%;
  }
  .svg_container{
    text-align: left;
    background: azure;
    min-height: 90vh;

    float: right; 
    width: 62%;
    padding: 2%;

    text-align: center;
  }
  .notices{
    max-height: 50px;
    overflow: auto;
  }
  .err {
    color: red;
  }
  .noresize{
    resize: none;
  }
  .sh_container{
    border: 1px solid #cccccc;
    background: #ffffff;;
  }

  textarea{
    width: 98%;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #000000;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
  }

  .svg_box_header{
    text-align: left;
    width: 250px;
    margin: 10px auto;
  }
  .svg_box_header input[type="button"]{
    float: right;
    background-color: red;
    border: none;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
  }

  /* For desktop: */
  @media (max-width:960px)  {
    .dimensions_container{
      width: 44%;
      padding: 3%;
      height: auto !important;
    }
    .svg_container{
      width: 44%;
      padding: 3%;
      height: auto !important;
    }
  }

  /* For small: */
  @media (max-width:640px)  {
    .dimensions_container{
      width: 94%;
      padding: 3%;
      height: auto !important;
    }
    .svg_container{
      width: 94%;
      padding: 3%;
      height: auto !important;
    }
  }
</style>