<template>
  <div id="app">
    <Plotter/>
  </div>
</template>

<script>
import Plotter from './components/Plotter.vue'

export default {
  name: 'App',
  components: {
    Plotter
  },
  beforeCreate(){
    document.getElementById("fcp_loading").style.display = 'none';
  },
}
</script>

<style>
body {
  margin: 0px;
  padding: 0px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
